 <div class="right-content-report" id="channelStatistics">
	<div class="report-header">
		日期
		<div class="inline-block pl10">
			<iselect-name :list.sync="getStartDateEndDateList" :select-val.sync="getStartDateEndDate" :elem-id.sync="getStartDateEndDateElemId" :selected-elem.sync="dateSelectedElem" :is-null-select.sync="0"></iselect-name>
		</div>
		<div class="inline-block pl10">
			<mz-datepicker format="yyyy-MM-dd" :start-time.sync="getChannelStatisticsData.fromDate" :end-time.sync="getChannelStatisticsData.toDate" range en confirm :on-confirm="channelStatisticsDate"></mz-datepicker>
		</div>
		<button class="btn-primary btn-sm w80 ml10" @click="checkoutBusinessStatisticsData">查询</button>
		<div class="right-content-specialTips">说明：仅对已离店的订单房费进行营收统计。</div>
	</div>
	<div class="report-content-form" id="channelStatisticsForm">
	</div>
	<div class="report-content-table" id="reprotContentTable">
		<!--<table>
			<thead>
				<tr>
					<td>渠道</td>
					<td>订单数</td>
					<td>间夜</td>
					<td>房费总收入</td>
					<td>占比</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in channelStatisticsData">
					<td>{{item.channelName}}</td>
					<td>{{item.orderCount}}笔</td>
					<td>{{item.roomNights}}</td>
					<td>¥{{item.income}}</td>
					<td>{{formatePercentRate(item.rate)}}</td>
				</tr>
			</tbody>
		</table>-->
		<table id="tbl" class="tb-block tb-line mb20 ac">
			 <colgroup>
	            <col width="15%">
	            <col width="14%">
	            <col width="14%">
	            <col width="14%">
                <col width="14%">
	        </colgroup>
	        <thead>
	            <tr class="tb-titlebg tb-linebm color-main font-bold">
	                <td class="pb10 pt10">渠道</td>
					<td class="pb10 pt10">订单数</td>
					<td class="pb10 pt10">间夜</td>
					<td class="pb10 pt10">房费总收入</td>
					<td class="pb10 pt10">占比</td>
	            </tr>
	        </thead>
			<tbody class="tb-color">
				<template v-for="item in channelStatisticsData" >
					<tr class="tb-linebm">
						<td class="pb10 pt10">{{item.channelName}}</td>
						<td class="pb10 pt10">{{item.orderCount}}笔</td>
						<td class="pb10 pt10">{{item.roomNights}}</td>
						<td class="pb10 pt10">¥{{item.income}}</td>
						<td class="pb10 pt10">{{formatePercentRate(item.rate)}}</td>
					</tr>
				</template>
			</tbody>
		</table>
	</div>
</div>



